.no-scroll {
  overflow-y: hidden;
}

// размеры контейнеров и отстпы секций

// .container {
//   max-width: 320px;
//   padding-left: 20px;
//   padding-right: 20px;
//   margin-left: auto;
//   margin-right: auto;
//   outline: 1px solid tomato;

//   @media screen and (min-width: 768px) {
//     max-width: 768px;
//     padding-left: 32px;
//     padding-right: 32px;
//   }
//   @media screen and (min-width: 1280px) {
//     max-width: 1281px;
//   }
// }

.section {
  padding: 20px 0 20px 0;
  width: 100%;
  // height: 100%;

  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
}

// размеры картинок

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// переменные

$colorAccent: rgb(255, 108, 10);

$colorPleaseNote: rgb(255, 0, 27);

$shadowColorModal: #8c8c8c;

$shadowColorFooter: #545454;

$fontRoboto: 'Roboto', sans-serif;

$bgcFooter: #F7F7F7;