.library__header {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background: url(../images/libray-header-bcg_png.png) no-repeat center;
  background-size: 100% 100%;

  @media only screen and (min-width: 768px) {
    background: url(../images/libary-header-bcg_lg.png);
  }
}

.logo {
  margin: 40px 0 0 32px;
  display: flex;
  align-items: center;
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  gap: 12px;
  text-decoration: none;

  &,
  &:visited {
    color: $backgroundColor;
  }

  @media only screen and (max-width: 767px) {
    margin-left: 20px;
    span {
      display: none;
    }
  }
}

.pages-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 49px 32px 0 0;
  @media only screen and (max-width: 767px) {
    margin-right: 20px;
  }
}
.pages-nav__item {
  list-style: none;
}
.pages-nav__link {
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;

  &--current::after {
    content: ' ';
    display: block;
    margin-top: 1px;
    width: 100%;
    height: 3px;

    background-color: #ff001b;
  }

  &:hover {
    color: #ff001b;
  }
}

.library-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media only screen and (max-width: 767px) {
    margin-top: 60px;
    margin-bottom: 62px;
  }

  @media only screen and (min-width: 768px) {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}
.library-btn__item {
  height: 42px;
  min-width: 148px;
  @media only screen and (max-width: 767px) {
    height: 44px;
  }
}
.library-btn {
  width: 100%;
  height: 100%;
  color: #ffffff;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;

  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;

  &.current {
    background-color: #ff6b01;

    border: none;
    &:hover {
      color: black;
    }
  }

  &:hover {
    border-color: #ff6b01;
    color: #ff6b01;
  }
}
