.hero__list {
  width: 100%;
  height: 100%;

  display: flex;

  flex-wrap: wrap;
  gap: 20px;

  // justify-content: center;

  @media screen and (min-width: 768px) {
    gap: 30.5px;
  }
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}
.film-card {
  width: 280px;
  min-height: 443px;

  @media screen and (min-width: 768px) {
    width: 336px;
    min-height: 494px;
  }

  @media screen and (min-width: 1280px) {
    width: 393.5px;
    min-height: 634px;
  }

  &__img-thumb {
    width: 100%;
    height: 402px;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      height: 455px;
    }

    @media screen and (min-width: 1280px) {
      height: 574px;
    }
  }

  &__link {
    text-decoration: none;

    &:hover .film-card,
    &:focus .film-card {
      display: none;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
  &__title {
    // font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $mainFontColor;

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__thumb-info {
    display: flex;
  }
  &__genre {
    // font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $colorAccent;
    margin-right: 10px;

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__rating {
    background-color: $colorAccent;
    // line-height: 14px;
    border-radius: 3px;
    color: $backgroundColor;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 17px;
    // margin: 0;
    font-size: 12px;

    @media screen and (min-width: 1280px) {
      width: 46px;
      height: 25px;
      font-size: 18px;
      border-radius: 5px;
    }
  }
}
