*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
  }
  
  body {
    background-color: #193c6d;
    // filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003073', endColorstr='#029797');
    background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #003073), color-stop(100%, #029797));
    background-image: -webkit-linear-gradient(135deg, #003073, #029797);
    background-image: -moz-linear-gradient(45deg, #003073, #029797);
    background-image: -ms-linear-gradient(45deg, #003073 0, #029797 100%);
    background-image: -o-linear-gradient(45deg, #003073, #029797);
    background-image: linear-gradient(135deg, #003073, #029797);
 
}
  
  .animateme {
	  position: fixed;
	  top: 0px;
	  left: 0px;
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	  z-index: -1;
  }
  
  .bg-bubbles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
  }
  .bg-bubbles li {
	position: absolute;
	list-style: none;
	display: block;
	width: 40px;
	height: 40px;
	background-color: #353535;
	bottom: 60px;
	-webkit-animation: square 25s infinite;
	animation: square 25s infinite;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	opacity:0;
  }
  
  .bg-bubbles li:nth-child(1) {
	left: 3%;
	border-radius:50em;
	background:transparent;
	border:4px solid #353535;
  }
  .bg-bubbles li:nth-child(2) {
	left: 6%;
	width: 75px;
	height: 75px;
	-webkit-animation-delay: 2s;
			animation-delay: 2s;
	-webkit-animation-duration: 17s;
			animation-duration: 17s;
  }
  .bg-bubbles li:nth-child(3) {
	left: 15%;
	width: 175px;
	height: 175px;
	-webkit-animation-delay: 4s;
			animation-delay: 4s;
  }
  .bg-bubbles li:nth-child(4) {
	left: 40%;
	width: 90px;
	height: 90px;
	-webkit-animation-duration: 22s;
			animation-duration: 22s;
  }
  .bg-bubbles li:nth-child(5) {
	left: 70%;
	background:transparent;
	border:4px solid #353535;
  }
  .bg-bubbles li:nth-child(6) {
	left: 90%;
	width: 90px;
	height: 90px;
	-webkit-animation-delay: 3s;
			animation-delay: 3s;
	border-radius:50em;
	background:transparent;
	border:4px solid #353535;
  }
  .bg-bubbles li:nth-child(7) {
	left: 32%;
	width: 60px;
	height: 60px;
	-webkit-animation-delay: 7s;
			animation-delay: 7s;
	background:transparent;
	border:4px solid #353535;
  }
  .bg-bubbles li:nth-child(8) {
	left: 55%;
	width: 50px;
	height: 50px;
	-webkit-animation-delay: 15s;
			animation-delay: 15s;
	-webkit-animation-duration: 40s;
			animation-duration: 40s;
  }
  .bg-bubbles li:nth-child(9) {
	left: 30%;
	width: 140px;
	height: 140px;
	-webkit-animation-delay: 2s;
			animation-delay: 2s;
	-webkit-animation-duration: 40s;
			animation-duration: 40s;
	border-radius:50em;
	background:transparent;
	border:4px solid #353535;
  }
  .bg-bubbles li:nth-child(10) {
	left: 90%;
	width: 60px;
	height: 60px;
	-webkit-animation-delay: 11s;
			animation-delay: 11s;
  }
  .bg-bubbles li:nth-child(11) {
	left: 10%;
	width: 40px;
	height: 40px;
	-webkit-animation-delay: 13s;
			animation-delay: 13s;
	border-radius:50em;
  }
  .bg-bubbles li:nth-child(12) {
	left: 55%;
	width: 175px;
	height: 175px;
	-webkit-animation-delay: 7s;
			animation-delay: 7s;
	background:transparent;
	border:4px solid #353535;
  }
  
  .bg-bubbles li:nth-child(13) {
	left: 65%;
	width: 100px;
	height: 100px;
	-webkit-animation-delay: 8s;
			animation-delay: 8s;
	border-radius:50em;
  }
  
  @-webkit-keyframes square {
	0% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity:0;
	}
	50% {
	  opacity:1;
	}
	100% {
	  -webkit-transform: translateY(-700px) rotate(600deg);
			  transform: translateY(-700px) rotate(600deg);
	  opacity:1;
	}
  }
  @keyframes square {
	0% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity:0;
	}
	50% {
	  opacity:1;
	}
	100% {
	  -webkit-transform: translateY(-700px) rotate(600deg);
			  transform: translateY(-700px) rotate(600deg);
	  opacity:0;
	}
  }
  






ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
max-width: 100%;
height: auto;
}


.team-page-section{
position:relative;
padding-top:70px;
}

.team-page-section .team-block{
margin-bottom:60px;
}

.sec-title{
position:relative;
z-index:1;
margin-bottom:65px;
}

.sec-title .title{
position:relative;
font-size:25px;
color:#bd0000;
font-weight:700;
margin-bottom:12px;
text-transform:capitalize;
}

.sec-title .separator{
position:relative;
width:40px;
margin-top:16px !important;
}

.sec-title .separator:before{
position:absolute;
content:'';
left:0px;
top:0px;
width:10px;
height:2px;
background-color:#ff9600;
}

.sec-title .separator:after{
position:absolute;
content:'';
right:0px;
top:0px;
width:10px;
height:2px;
background-color:#ff9600;
}

.sec-title .separator span{
position:absolute;
left:50%;
top:-2px;
width:10px;
height:5px;
margin-left:-5px;
display:inline-block;
background-color:#bd0000;
}

.sec-title h2{
position:relative;
color:#222222;
font-weight:700;
font-size:36px;
line-height:1.2em;
margin-top:35px;
}

.sec-title .text{
position:relative;
font-size:14px;
line-height:1.9em;
color:#555555;
margin-top:10px;
}

.sec-title.centered .separator{
margin:0 auto !important;
float:none !important;
}

.sec-title.centered{
text-align: center !important;
}

.sec-title.light .title{
color:#ffffff;
}

.sec-title.light h2{
color:#ffffff;
}

.sec-title.light .separator span{
background-color:#ff9600;
}

.sec-title.light .separator:before,
.sec-title.light .separator:after{
background-color:#ffffff;
}

.team-section{
position:relative;
padding:80px 0px 60px;
}

.team-section.style-two .pattern-layer{
position:absolute;
left:0px;
top:0px;
right:0px;
bottom:0px;
background-position:center center;
background-repeat:no-repeat;
}

.team-section .title-box{
position:relative;
text-align:center;
}

.team-section .title-box h2{
position: relative;
color: #222222;
font-size: 36px;
font-weight: 700;
line-height: 1.3em;
margin-bottom: 50px;
}

.team-section .title-box h2 span{
color: #ff9600;
}

.team-block{
position:relative;
}

.team-block .inner-box{
position:relative;
padding:40px 70px 28px 0px;
}

.team-block .inner-box:before{
position:absolute;
content:'';
right:0px;
top:0px;
left:70px;
bottom:0px;
border-radius:10px;
background-color:#f5f5f5;
-webkit-transition:all 600ms ease;
-moz-transition:all 600ms ease;
-ms-transition:all 600ms ease;
-o-transition:all 600ms ease;
transition:all 600ms ease;
}

.team-block .inner-box::after{
position:absolute;
content:'';
top:0px;
left:70px;
bottom:0px;
width:0%;
border-radius:10px;
-webkit-transition:all 600ms ease;
-moz-transition:all 600ms ease;
-ms-transition:all 600ms ease;
-o-transition:all 600ms ease;
transition:all 600ms ease;
background-image: -ms-linear-gradient(top, #ffca08 0%, #f70067 100%);
background-image: -moz-linear-gradient(top, #ffca08 0%, #f70067 100%);
background-image: -o-linear-gradient(top, #ffca08 0%, #f70067 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffca08), color-stop(100, #f70067));
background-image: -webkit-linear-gradient(top, #ffca08 0%, #f70067 100%);
background-image: linear-gradient(to bottom, #ffca08 0%, #f70067 100%);
}

.team-block .inner-box:hover::after{
width:81%;
}

.team-block .inner-box .social-icons{
position:absolute;
right:25px;
top:100px;
z-index:1;
}

.team-block .inner-box .social-icons li{
position:relative;
margin-bottom:20px;
}

.team-block .inner-box .social-icons li a{
position:relative;
color:#e40000;
font-size:18px;
-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;
}

.team-block .inner-box:hover .lower-content h3 a,
.team-block .inner-box:hover .social-icons li a,
.team-block .inner-box:hover .lower-content .designation{
color:#ffffff;
}

.team-block .inner-box .image{
position:relative;
z-index:1;
border-radius:10px;
background-color:#ffffff;
box-shadow:inset 0px 0px 35px rgba(0,0,0,0.20);
}

.team-block .inner-box .image img{
position:relative;
width:100%;
display:block;
}

.team-block .inner-box .lower-content{
position:relative;
text-align:left;
z-index:1;
padding:30px 15px 0px 110px;
}

.team-block .inner-box .lower-content h3{
position:relative;
color:#bd0000;
font-size:18px;
font-weight:700;
line-height:1.3em;
}

.team-block .inner-box .lower-content h3 a{
position:relative;
color:#bd0000;
-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;
}

.team-block .inner-box .lower-content .designation{
position:relative;
margin-top:5px;
color:#777777;
font-size:14px;
}

.team-block.style-two .inner-box .lower-content h3 a,
.team-block.style-two .inner-box .social-icons li a{
color:#ff9600;
}

.team-block.style-two .inner-box:hover .lower-content h3 a,
.team-block.style-two .inner-box:hover .social-icons li a{
color:#ffffff;
}

.team-block.style-two .inner-box::after{
background-image: -ms-linear-gradient(top, #FFEB3C 0%, #ff9600 100%);
background-image: -moz-linear-gradient(top, #FFEB3C 0%, #ff9600 100%);
background-image: -o-linear-gradient(top, #FFEB3C 0%, #ff9600 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFEB3C), color-stop(100, #ff9600));
background-image: -webkit-linear-gradient(top, #FFEB3C 0%, #ff9600 100%);
background-image: linear-gradient(to bottom, #FFEB3C 0%, #ff9600 100%);
}




// BUTTON
.btn-center{
margin-left: 850px;
margin-bottom: 20px;
}


button,
button::after {
cursor: pointer;

 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
 
}

button::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "BACK TO HOME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
 
}



button:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}
