<header class="header_main">
  <a class="header_main__logo" href="index.html">
    <img src="./images/logo.svg" alt="logo" title="Filmoteka" width="24" height="24" />
    <span>Filmoteka</span>
  </a>
  <nav>
    <ul class="header_main__menu">
      <li><a href="index.html" class="active">HOME</a></li>
      <li><a href="./library.html">MY LIBRARY</a></li>
    </ul>
  </nav>
  <form class="header_main__form" id="search_form">
    <fieldset class="header_main__form__search">
      <input type="text" name="query" placeholder="Movie search" autocomplete="off" />
      <button type="submit">
        <svg class="icon icon-search" width="12" height="12">
          <use href="./symbol-defs.svg#search"></use>
        </svg>
      </button>
      <div class="spinner js-spinner-gallery visually-hidden">
        <div class="loadingio-spinner-dual-ball">
          <div class="ldio-6pxvxwbft19">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="header_main__form__error" id="search_error">
      Search result not successful. Enter the correct movie name and try again
    </div>
  </form>
</header>