<div class="backdrop is-hidden">
  <div class="modal-info">
    <button type="button" class="modal__cross-btn">
      <svg class="modal__cross-btn-icon" width="20" height="20">
        <use href="./symbol-defs.svg#cross"></use>
      </svg>
    </button>
    <!-- додав кнопку трейлер -->
    <button class="trailer-btn" type="button">
  <svg class="trailer-svg" width="65" height="55">
    <use href="/src/symbol-defs.svg#youtube"></use>
  </svg>
</button>
    <div class="modal-wrap"></div>
  </div>
</div>
