<div class="backdrop">
  <div class="modal-info">
    <button type="button" class="btn__modal-close">
      <!-- <svg class="btn-close-icon">
        <use href="./modal-info/modal-close.svg"></use>
      </svg> -->
    </button>
    <img
      class="modal__img"
      src="https://image.tmdb.org/t/p/w500/qwoGfcg6YUS55nUweKGujHE54Wy.jpg"
      alt="poster"
    />
    <h3 class="modal__title"></h3>
    <div class="modal__sheet">
      <ul class="modal__sheet-titles">
        <li class="titles__item"></li>
        <li class="titles__item"></li>
        <li class="titles__item"></li>
        <li class="titles__item"></li>
      </ul>
      <ul class="modal_sheet-values">
        <li class="values__item">
          <span class="value--red"></span>
        </li>
        <li class="values__item"></li>
        <li class="values__item"></li>
        <li class="values__item"></li>
      </ul>
    </div>
    <div class="modal__about">
      <p class="about__title"></p>
      <p class="about__descr"></p>
    </div>
    <ul class="modal__btns">
      <li class="btn-watched">Add to Watched</li>
      <li class="btn-queue">Add to queue</li>
    </ul>
  </div>
</div>
