.footer__container {
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

    margin-left: auto;
    margin-right: auto;

    background: $bgcFooter;

    @media screen and (min-width: 768px) {
        min-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
    @media screen and (min-width: 1280px) {
        max-width: 1281px;
    }
}

.footer__icon {
    fill: $colorAccent;
    width: 14px;
    height: 13px;
}
.footer__list {
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $shadowColorFooter;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.footer__item{
    
    white-space: nowrap;
}
.footer__text-students {
    color: $shadowColorFooter;
    text-decoration: none;
}