.footer {
    background-color:$bgcFooter;
    padding: 29px 0px;
    

    @media screen and (min-width: 768px) {
        padding: 30px 0px;
    }

    @media screen and (min-width: 1280px) {
        padding: 29px 0px;
    }
}

.container .footer_container {
    outline: none;

}

.footer_text {
    margin: 0 auto;
    width: 250px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #545454;

    @media screen and (min-width: 768px) {
        width: auto;
        font-size: 16px;
        line-height: 19px;
    }
}

.footer_text-svg {
   fill: #FF6B08;
}