<footer class="footer">
    <div class="footer__container">
        <ul class="footer__list">
            <li class="footer__item">&copy 2020 | All Rights Reserved |</li>
            <li>
                <span>
                    Developed with 
                    <svg class="footer__icon"><use href="./symbol-defs.svg#heart"></use></svg>
                    by
                    <a href="" class="footer__text-students">GoIT Students</a>
                </span>
            </li>
        </ul>
    </div>
</footer>