.trailer-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  opacity: 1;
  transform: translateY(0%);
  scale: 1;
  width: 100%;
  height: 100vh;
  padding: 20px 20px 38px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear,
    transform 250ms linear;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal-trailer {
  position: relative;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
width: 80%;
    z-index: 1000;
}


.js-iframe {
  position: relative;
  display: block;

  border-radius: 5px;
  aspect-ratio: 16 / 9;
  height: 80%;
  width: 100%;
}

// .trailer-btn {
//  background: rgba(232, 6, 6, 0.5);
//   // background-color: transparent;
//   border: 2px solid #000000;
//   border-radius: 10px;
//   cursor: pointer;
//   @media screen and (min-width: 320px) and (max-width:767px) {
//      bottom: 67%;
//   right: 90px;
//   };

//   @media screen and (min-width: 768px) and (max-width:1279px) {
//      bottom: 44%;
//   right: 500px;
//   };

//    @media screen and (min-width: 1280px) {
//      bottom: 40%;
//   right: 550px;
//   }
// };

.trailer-modal-title {
  margin-bottom: 25px;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
};